rouge==1.0.0
nltk==3.5
pandas==1.2.1
torch==1.7.1
transformers==4.0.1
scipy==1.4.1
dataclasses==0.6
requests==2.25.1
pytorch_lightning==1.2.1
numpy==1.18.5
bert_score==0.3.7
tqdm==4.56.0
six==1.15.0
munkres==1.1.4
matplotlib==3.3.4
grequests==0.6.0
pyenchant==3.2.0
scikit_learn==0.24.2
spacy==3.0.6
statsmodels==0.12.2
summa==1.2.0
zhon==1.1.5
